.shade {
	position: relative;
	display: inline-block;
	letter-spacing: 0.05em;
}
.shade > div:first-child {
	position: absolute;
	display: inline-block;
	left: 0;
	top: 0;
	text-shadow: 0px 2px 2px black, 0px 0px 60px rgba(232, 246, 249, 0.3);
}
.shade > div:last-child {
	display: inline-block;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FFFFFF),
    color-stop(1, #a5a8b1)
  );
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #a5a8b1 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #a5a8b1 100%);
}
