.tuto {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.ready,
.rule,
.rule2,
.rule3 {
	position: absolute;
	text-align: center;
	font-style: italic;
	left: 0px;
	right: 0px;
}

.ready {
	top: 470px;
	font-size: 96px;
	transform: translateX(-1920px);
}

.rule {
	top: 570px;
	font-size: 46px;
	opacity: 0.6;
	transform: translateX(1920px);
}
.rule2 {
	top: 420px;
	font-size: 84px;
	opacity: 0;
	transform: translateY(50px);
}
.rule3 {
	top: 550px;
	font-size: 84px;
	opacity: 0;
	transform: translateY(50px);
}
