.progression {
	position: absolute;
	left: 500px;
	top: 40px;
	height: 20px;
	width: 920px;
	overflow: hidden;
}
.line,
.progressionBar {
	position: absolute;
	top: 9px;
	left: 0;
	right: 0;
	bottom: 9px;
}
.line {
	background: rgba(255,255,255,0.2);
}
.notNull .progressionBar {
	background: rgba(255,255,255,0.8);
	transform: translateX(-100%);
	transform-origin: 0 0;
}

.notNull .progressionBar:before {
	position: absolute;
	content: '';
	width: 4px;
	height: 4px;
	border-radius: 4px;
	background: rgba(255,255,255,0.8);
	border: 1px solid rgba(255,255,255,0.3);
	right: -2px;
	top: -2px;
}
.notNull .progressionBar:after {
	position: absolute;
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 12px;
	border: 2px solid rgba(255,255,255,0.4);
	right: -7px;
	top: -7px;
}
