.logo {
	position: absolute;
	left: 50%;
	top: 25px;
	margin-left: -160px;
	width: 320px;
	animation: fading 700ms linear;
	animation-fill-mode: forwards;
}
@keyframes fading {
	0% { opacity: 0; }
	100% { opacity: 0.9; }
}

.logo.out {
	animation: fadeout 700ms linear;
	animation-fill-mode: forwards;
}
@keyframes fadeout {
	0% { opacity: 0.9; }
	100% { opacity: 0; }
}

.logo > img {
	max-width: 100%;
}

.arrow_left,
.arrow_right {
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 0 13px -10px;
	background-position: center center;
}
.arrow_left {
	background-image: url('../../../../www/img/arrow_left.png');
}
.arrow_right {
	background-image: url('../../../../www/img/arrow_right.png');
}

.headline {
	margin-top: 440px;
}

.hint {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 80px;
	text-align: center;
	font-size: 48px;
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}
