.metric {
	width: 400px;
}
.label,
.value {
	font-size: 30px;
}
.value {
	float: left;
	padding-left: 15px;
	margin-top: -7px;
}
.value.prefix > div::before {
	content: 'x';
	margin-right: 5px;
	vertical-align: middle;
}
.scale {
	float: left;
	width: 300px;
	height: 14px;
	transform: skewX(-20deg);
	background: rgba(255,255,255,0.2);
}
.bar {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	background: white;
	transform: scaleX(0);
	transform-origin: 0 0;
}
.bar.loaded {
	transform: scaleX(1);
}
