.final {}
.background,
.recap,
.save,
.rank {
	position: absolute;
	left: 0;
	right: 0;
	top: 360px;
	bottom: 360px;
}
.background {
	border: 1px solid #666;
	background: rgba(29, 130, 196, 0.3);
	transform: scaleY(0);
	will-change: transform;
}

.h1 {
	position: absolute;
	top: 120px;
	left: 200px;
	font-size: 96px;
	font-style: italic;
	margin: 0;
}
.score {
	position: absolute;
	top: 212px;
	left: 220px;
	font-size: 24px;
	font-style: italic;
	color: rgba(255,255,255,0.2);
	letter-spacing: 0.05em;
}

.suffix {
	font-size: 15px;
	padding-left: 3px;
}
.info {
	position: absolute;
	left: 0;
	right: 0;
	top: 360px;
	bottom: 360px;
}
