.gameHeader {
	width: 600px;
	margin: 0 auto;
}
.direction {
	position: absolute;;
	top: 20px;
	height: 40px;
	width: 40px;
	background-repeat: no-repeat;;
	background-size: contain;
	background-image: url('../../../www/img/arrow_white.svg');
}
.direction:nth-child(1) {
	left: 13%;
	transform: rotate(90deg);
}
.direction:nth-child(2) {
	left: 38%;
	transform: rotate(180deg);
}
.direction:nth-child(3) {
	left: 62%;
	transform: rotate(0deg);
}
.direction:nth-child(4) {
	left: 87%;
	transform: rotate(-90deg);
}
