.gameHeader {
	position: relative;
	display: flex;
	justify-content: space-around;
	width: 600px;
	margin: 0 auto;
}
.targetSteps {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
}
.arrow {
	position: relative;
	top: 20px;
	height: 40px;
	width: 40px;
	background-size: contain;
	background-image: url('../../../www/img/arrow_white.svg');
}
.arrow:nth-child(1) {
	transform: rotate(90deg);
}
.arrow:nth-child(2) {
	transform: rotate(180deg);
}
.arrow:nth-child(3) {
	transform: rotate(0deg);
}
.arrow:nth-child(4) {
	transform: rotate(-90deg);
}
