.webgl {
	position: relative;
	opacity: 0;
}

.tuto,
.play {
	opacity: 1;
}

.load,
.end {
	opacity: 0.3;
}

.lines {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 0;
}

.react3 {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
}
