.app {
	position: relative;
	color: white;
	text-align: center;
	padding: 20px;
	max-width: 600px;
	margin: 0 auto;
}
h1 {
	font-weight: normal;
}
.loader {
	position: relative;
	margin-top: 20px;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	overflow: hidden;
}
.loader:before {
	position: absolute;
	content: '';
	height: 100%;
	background: white;
	width: 0%;
	left: 0;
}
.loader.loading {
	border: 1px solid rgba(255,255,255,0.4);
}
.loader.loading:before {
	width: 100%;
	transition: width 3s cubic-bezier(0,0,0.32,1);
}
