.move {
	position: absolute;
	height: 40px;
	width: 40px;
	margin-left: -20px;
	top: 100vh;
}
.idle {
	display: none;
}
.show {
	/*background: blue;*/
}
.hide {
	display: none;
}
.move:before {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../../../www/img/arrow.svg');
}
.left {
	left: 13%;
}
.left:before {
	transform: rotate(90deg);
}
.top {
	left: 38%;
}
.top:before {
	transform: rotate(180deg);
}
.bottom {
	left: 62%;
}
.bottom:before {
	transform: rotate(0deg);
}
.right {
	left: 87%;
}
.right:before {
	transform: rotate(-90deg);
}
