.letter {
	display: inline-block;
	position: relative;
	width: 202px;
	height: 282px;
	margin: -1px 100px 0 -1px;
	border: 1px solid rgba(85, 124, 147, 1);
	text-align: center;
	border-radius: 4px;
	color: white;
}
.letter.focus {
	border-color: #1D82C4;
}
.visibleLetters {
	position: relative;
	width: 200px;
	height: 280px;
	background: rgba(85, 124, 147, 0.9);
	overflow: hidden;
	font-size: 144px;
}
.visibleLetters:before,
.visibleLetters:after {
	position: relative;
	z-index: 1;
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	height: 70px;
}
.visibleLetters:before {
	top: 0;
	background: linear-gradient(to top, rgba(85, 124, 147, 0), rgba(85, 124, 147, 1) 85%);
}
.visibleLetters:after {
	bottom: 0;
	background: linear-gradient(to bottom, rgba(85, 124, 147, 0), rgba(85, 124, 147, 1) 85%);
}
.allLetters {
	will-change: transform;
}
.allLetters > div {
	height: 150px;
	line-height: 170px;
	visibility: hidden;
}
.allLetters > div.activeLetter,
.focus .allLetters > div {
	visibility: visible;
}
.control_left,
.control_top,
.control_bottom,
.control_right {
	visibility: hidden;
	width: 60px;
	height: 60px;
	position: absolute;
}
.focus .control_left,
.focus .control_top,
.focus .control_bottom,
.focus .control_right {
	visibility: visible;
}
.control_left:before,
.control_top:before,
.control_bottom:before,
.control_right:before {
	content: '';
	position: absolute;
	opacity: 0.6;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center center;
}
.control_left,
.control_right {
	top: 50%;
	margin-top: -30px;
}
.control_top,
.control_bottom {
	left: 50%;
	margin-left: -30px;
}
.control_left {
	left: -80px;
}
.control_left:before {
	background-image: url('../../../../../../www/img/arrow_left.png');
}
.control_top {
	top: -70px;
}
.control_top:before {
	background-image: url('../../../../../../www/img/arrow_top.png');
}
.control_bottom {
	bottom: -70px;
}
.control_bottom:before {
	background-image: url('../../../../../../www/img/arrow_bottom.png');
}
.control_right {
	right: -81px;
}
.control_right:before {
	background-image: url('../../../../../../www/img/arrow_right.png');
}

.control_top.onPadDown:before,
.control_bottom.onPadDown:before {
	animation: onpaddown 200ms ease-out;
}

@keyframes onpaddown {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.6;
	}
}
