.video {
	color: blue
}
video {
	position: absolute;
	display: none;
}
video.above {
	display: block;
}
.sound {
	cursor: pointer;
	position: absolute;
	z-index: 1;
  left: 0;
	top: 60px;
	padding: 10px 10px;
	background: rgba(0,255,0,0.3);
	color: white;
}
.muted {
	background: rgba(255,0,0,0.3);
}
