.background {
	position: absolute;
	left: 0;
	right: 0;
	top: 360px;
	bottom: 360px;
}
.color,
.border {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.closed .color,
.closed .border {
	transform: scaleY(0);
}
.color {
	background: linear-gradient(to right, rgba(29, 130, 196, 0.05) 0%,
	  rgba(29, 130, 196, 0.5) 35%, rgba(29, 130, 196, 0.5) 60%, rgba(29, 130, 196, 0.05) 100%);
}
.border {
	border: 1px solid rgba(29, 130, 196, 0.7);
	border-width: 1px 0;
}
