.metrics {
	position: absolute;
	top: 450px;
	left: 900px;
}
.metrics > div {
	position: absolute;
}
.excellent {
	top: 0;
	left: 0;
}
.good {
	top: 0;
	left: 400px;
}
.ok {
	top: 140px;
	left: 0;
}
.combo {
	top: 140px;
	left: 400px;
}

/*
	ANIMATIONS
*/

.h1 {
	transform: translate3d(-100px, 0, 0);
	opacity: 0;
}
.h1.loaded {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}
.score {
	opacity: 0;
	transform: translate3d(-50px, 0, 0);
}
.score.loaded {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
.metrics {
	opacity: 0;
	transform: translate3d(100px, 0, 0);
}
.metrics.loaded {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}
