.end {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 48px;
	overflow: hidden;
	animation: filmend 10s linear;
	animation-fill-mode: forwards;
}
.flyingHeroes,
.darkIllusions {
	position: absolute;
	width: 60%;
	text-align: center;
}
.flyingHeroes {
	left: 0;
	top: 400px;
}
.darkIllusions {
	right: 0;
	top: 475px;
}
.crew, .dancers {
	text-transform: uppercase;
}
.crew {
	font-size: 1em;
	font-style: italic;
	margin: 10px 0;
}
.dancers {
	font-size: 1.5em;
	margin: -10px 0;
}

@keyframes filmend {
	0% {
		transform: translate3d(0,0,0);
	}
	100% {
		transform: translate3d(0,-120%,0);
	}
}
