.end {
	position: absolute;
	top: 0;
	bottom: -80px;
	left: 0;
	right: 0;
	font-size: 48px;
	overflow: hidden;
	animation: filmend 10s linear;
	animation-fill-mode: forwards;
}
.flyingHeroes,
.darkIllusions,
.followUpContent {
	position: absolute;
	width: 60%;
	text-align: center;
}
.followUpContent {
	width: 100%;
	top: 1080px;
}
.flyingHeroes {
	left: 0;
	top: 400px;
}
.darkIllusions {
	right: 0;
	top: 475px;
}
.crew, .dancers, .followUp {
	text-transform: uppercase;
}
.crew, .followUp {
	font-size: 1em;
	font-style: italic;
	margin: 10px 0;
}
.dancers {
	font-size: 1.5em;
	margin: -10px 0;
}

@keyframes filmend {
	0% {
		transform: translate3d(0,0,0);
	}
	100% {
		transform: translate3d(0,-150%,0);
	}
}
