.left, .top, .bottom, .right {
	position: absolute;
	top: 212px;
	bottom: 0;
	width: 2px;
	opacity: 0.7;
	background-color: red;
}

.left {
	left: 479px;
}

.top {
	left: 799px;
}

.bottom {
	left: 1119px;
}

.right {
	left: 1439px;
}
