* {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 1920px;
	height: 1080px;
	background: #1D2025;
	font-family: 'din-condensed';
	color: rgba(255,255,255,0.7);
	transform-origin: 0 0;
	overflow: hidden;
}

@font-face {
	font-family: 'din-condensed';
	src: url('../www/din-condensed.woff') format('woff');
}
