.left,
.top,
.bottom,
.right {
	position: absolute;
	top: 212px;
	bottom: 0;
	width: 2px;
}
.left,
.right {
	background-color: rgba(4, 95, 234, 0.12);
}
.top,
.bottom {
	background-color: rgba(110, 36, 176, 0.12);
}
.left {
	left: 479px;
}
.top {
	left: 799px;
}
.bottom {
	left: 1119px;
}
.right {
	left: 1439px;
}
