.performance {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
}
.score,
.combo {
	padding: 10px 20px;
}
.score {
	text-align: left;
}
.combo {
	text-align: right;
}
.label {
	font-size: 16px;
	color: rgba(255,255,255,0.4);
}
.amount {
	font-size: 72px;
}
